
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 2px solid gray;
    width: 35rem;
    height: 22rem;
    display:flex;
    justify-content: left;
    align-items: center;
    border-radius: 4px;
}


.display-container {
    min-width: 45%;
    min-height: 45%;
    display: grid;
    gap: .4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 4rem;
    padding-top: 3rem;
}


 button {
    background-color: rgb(131, 185, 235);
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 0;
    outline: none;
 }

 button:hover {
    background-color: rgb(156, 192, 226);
    cursor: pointer;
 }

 button:active {
    transform: scale(0.92);
}

