
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(to top, #2E3192, #1BFFFF);
}

.container {
    width: 50rem;
    height: 30rem;
    border-radius: 4px;
    background: linear-gradient(to top, #2E3192, #1BFFFF);
}

 #description {
     width: 9.5rem;
     height: 2.6rem;
     border: 1px solid black;
     text-align: center;
     border-radius: 2px;
     font-size: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     left: 35rem;
     top: 6.8rem;
     margin-top: 5rem;
}

.display-container {
    max-width: 50%;
    min-height: 65%;
    display: grid;
    gap: .4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 4rem;
    margin-top: 4rem;
}

 button {
    border-radius: 5%;
    font-size: 26px;
    border: none;
    color: black;
    outline: none;
    background: #deb887f3;
}

 button:hover {
    background-color: #1bffff44;
    cursor: pointer;
}

 button:active {
    transform: scale(0.92);
}

input {
    outline: none;
}

